<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>

<div id="container">
  <div id="border">
    <h1 id="stupid">Stupid Coach</h1>

    <form action="answer">
      <input type="text" name="question">
      <a href="#" class="btn btn-primary">Ask!</a>
    </form>
  </div>
<div>
